@import url(http://db.onlinewebfonts.com/c/04e6981992c0e2e7642af2074ebe3901?family=Helvetica+Now+Display);

body {
    background-color: #0b0b0b !important;
    font-family: "Helvetica Now Display" !important;
    color: white;
}

header {
    height: auto;
    width: 100%;
}

#sidebar {
    position: fixed;
    top: 0px;
    width: min-content;
    bottom: 0px;
    z-index: 999;
    background: #040404;
}

.side-first {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    overflow-y: auto;
    padding-top: calc(60px + 2rem);
}

.side-search,
.side-content {
    margin: 0 auto;
    max-width: 1920px;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
}

.side-search form {
    min-width: 20rem;
    background: #111;
    border-radius: 4px;
    display: flex;
    position: relative;
}

.side-search form button {
    background-color: initial;
    background-image: url(../Images/search.svg);
    background-origin: content-box;
    background-position: 0;
    background-repeat: no-repeat;
    border: none;
    content: "";
    cursor: pointer;
    margin: 0 0 0 1rem;
    width: 36px;
    font-size: 100%;
    line-height: 1.15;
}

.side-search form input {
    background-color: initial;
    border: none;
    color: #fff;
    outline: none;
    padding: 1rem;
    width: 100%;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.side-content {
    opacity: 1;
    grid-gap: 1rem;
    color: #fff;
    display: grid;
    font-size: 1.7rem;
    font-weight: 700;
    grid-auto-rows: max-content;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    transition: opacity 0.4s ease-in;
}

.side-content a {
    color: inherit;
    text-decoration: none;
    min-width: max-content;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}

.side-content a:hover {
    color: #fcaf17;
}

.side-content a:nth-last-child(1)::after,
.side-content a:nth-last-child(2)::after,
.side-content a:nth-last-child(3)::after,
.side-content a:nth-last-child(4)::after {
    background-image: url(../Images/subscribe.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 1.2rem;
    margin-left: 0.5rem;
    vertical-align: initial;
    width: 1.2rem;
}

.header-nav div div a div {
    width: 24px;
    height: 2.5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 10px 10px;
}

.header-nav {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #020202;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    padding: 12px 4rem;
    border-bottom: 1px solid #282828;
    z-index: 9999;
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.85);
}

.logo-img {
    height: 55px;
    width: 55px;
}

.hamb-icon {
    grid-column: 1;
    grid-row: 3;
}

.hamb-bars {
    cursor: pointer;
}

.logo {
    grid-column: 2;
    grid-row: 3;
}

.profile-logo {
    grid-column: 3;
    grid-row: 3;
}

.profile-logo div:first-child {
    cursor: pointer;
}

nav {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    border: 1px solid #2d2d2d;
    width: 20%;
    height: auto;
    top: 90px;
    right: 60px;
}

nav div:first-child {
    border-radius: 0 0 8px 8px;
}

nav div:first-child a:first-child,
nav div:first-child a:last-child {
    border-bottom: 1px solid #2d2d2d;
    color: #e8e8e8;
    text-decoration: none;
    background-color: #121212;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
    padding: 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav div:first-child a:first-child::before {
    align-self: center;
    background: url(../Images/subscribe.svg) 100% / contain no-repeat;
    content: "";
    flex-grow: 1;
    height: 1rem;
    order: 3;
    width: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
}

nav div:first-child a:last-child::before {
    align-self: center;
    background: url(../Images/subscribe.svg) 100% / contain no-repeat;
    content: "";
    flex-grow: 1;
    height: 1rem;
    order: 3;
    width: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
}

nav div:first-child a:hover {
    background-color: #262626;
}

main {
    margin-top: 80px;
}

.main-carousel {
    background: #000;
}

.carousel-cell {
    display: grid !important;
    grid-template-columns: 70% 1fr;
    cursor: grab;
}

.carousel-cell:active {
    cursor: grabbing;
}

.carousel-cell img {
    width: 100%;
    height: auto;
    transition: opacity 1s;
}

.cell-content {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.cell-content div:first-child {
    grid-gap: 2rem;
}

.cell-content button {
    align-self: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: inherit;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 100%;
    padding: 1rem 3rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
    font-size: 120%;
}

.slide-content {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
}

.cell-title {
    grid-gap: 0.5rem !important;
    font-weight: 700;
}

.cell-title h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: -0.025em;
}

.slider-dot {
    background: hsla(0, 0%, 100%, 0.4);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 4px;
    max-width: 4rem;
    outline: none;
    padding: 0;
    transition: background 0.3s;
    width: 100%;
}

.slick-active .slider-dot {
    background: white !important;
}

.slick-dots li {
    display: inline;
    margin-right: 0.5rem;
}

.slick-dots {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.newswire h1 {
    color: #fff;
}

.newswire {
    margin-top: 50px;
    grid-gap: 8rem;
    padding: 4rem;
}

.newswire a {
    text-decoration: none;
    color: white;
}

.newswire-tile {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
}

.newswire-tile a {
    grid-column: span 2;
    border: 1px solid #282828;
}

.newswire-content {
    padding: 2rem 1.5rem;
    grid-gap: 0.5rem;
}

.newswire-content-title time {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.65;
}

.newswire-content h5 {
    font-size: 1.6rem !important;
}

.viewmore {
    background: transparent;
    border: none;
    font-weight: 400;
    line-height: unset;
    padding: 0;
    position: relative;
    text-transform: none;
    z-index: 1;
    align-self: center;
    font-size: large;
    transition: all 0.2s ease;
    text-decoration: underline #fcaf17 3px !important;
}

.viewmore:before {
    background: #fcaf17;
    border-radius: 0.25rem;
    bottom: 0;
    content: "";
    display: block;
    left: -0.1rem;
    position: absolute;
    transition: all 0.2s ease;
    width: calc(100% + 0.2rem);
    z-index: -1;
}

.viewmore:hover {
    color: #161616;
    background: #fcaf17;
    border-color: #fcaf17;
    border-radius: 0.25rem;
}

.viewmore:hover:before {
    background: #fcaf17;
    height: 100%;
    left: -0.5rem;
    width: calc(100% + 1rem);
    border-radius: 0.25rem;
}

.featured-games {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
}

footer {
    background: #000;
    padding: 4rem;
    flex-flow: row wrap;
    justify-content: space-between;
    grid-row-gap: 4rem;
}

.footer-first {
    flex: 0;
    order: 1;
    font-size: large;
}

.footer-lang {
    align-items: center;
    background: none;
    border: none;
    color: #e8e8e8;
    cursor: pointer;
    display: flex;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

.footer-lang i {
    background-image: url(../Images/world.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    width: 21px;
}

.footer-lang i::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.footer-lang span {
    padding-right: calc(0.5rem + 24px);
    position: relative;
    width: max-content;
}

.footer-contact {
    flex-basis: 50%;
    grid-gap: 1rem;
    color: #e8e8e8;
    order: 0;
}

.footer-contact a {
    font-size: large;
    color: #e8e8e8;
    text-decoration: none;
}

.footer-contact a:hover {
    color: #fcaf17;
}

.footer-contact a:last-child::after {
    background-image: url(../Images/subscribe.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 75%;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-left: 0.5rem;
    vertical-align: initial;
    width: 1rem;
}

.footer-privacy {
    order: 2;
    flex-basis: 50%;
    grid-gap: 1rem;
    color: #e8e8e8;
}

.footer-privacy a {
    text-decoration: none;
    color: #e8e8e8;
    font-size: 0.8rem;
    opacity: 0.65;
}

.footer-privacy a:hover {
    color: #fcaf17;
    opacity: 1;
}

.footer-socials {
    order: 3;
    flex-basis: 50%;
    grid-gap: 2rem;
    color: #e8e8e8;
}

.footer-socials a:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(15%) saturate(5173%) hue-rotate(348deg) brightness(105%) contrast(98%);
}

.footer-socials a:nth-child(1) {
    background-image: url(../Images/twitch.svg);
    color: #e8e8e8;
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
}

.footer-socials a:nth-child(2) {
    background-image: url(../Images/instagram.svg);
    color: #e8e8e8;
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
}

.footer-socials a:nth-child(3) {
    background-image: url(../Images/twitter.svg);
    color: #e8e8e8;
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
}

.footer-socials a:nth-child(4) {
    background-image: url(../Images/youtube.svg);
    color: #e8e8e8;
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
}

.footer-socials a:nth-child(5) {
    background-image: url(../Images/facebook.svg);
    color: #e8e8e8;
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
}

.footer-section {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between;
    grid-gap: 1rem;
    color: #fff;
    font-size: 75%;
    font-weight: 700;
    justify-items: center;
    margin-top: 2rem;
    flex-basis: 100%;
    order: 4;
    font-size: medium;
}

.footer-section div:first-child,
.footer-section div:last-child {
    width: 100%;
    font-weight: 700;
}

.footer-section div:nth-child(2) {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    grid-gap: 1rem;
    grid-auto-flow: column;
    justify-content: center;
}

.footer-section div:last-child {
    text-align: right;
}

.hide {
    display: none;
}

/* games page */
.hamb {
    text-decoration: none;
    color: #e8e8e8;
    font-size: 1.3rem;
    position: absolute;
    left: 40px;
}

.games-search {
    display: flex;
    justify-content: center;
    padding: 4rem;
    position: relative;
}

.games-search input {
    background-color: #272727;
    border: none;
    color: #fff;
    outline: none;
    padding: 1rem;
    width: 100%;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius: 5px;
    background-image: url(../Images/search.svg);
    background-origin: content-box;
    background-position: right;
    background-repeat: no-repeat;
}

.ui-autocomplete {
    background-color: #121212 !important;
    color: white !important;
    border: 1px solid #2d2d2d !important;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-state-active {
    border: none !important;
    background-color: #262626 !important;
}

.games-list {
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 auto;
    max-width: 1920px;
    padding: 4rem 4rem;
    width: 100%;
    color: #e8e8e8;
}

.games-list a {
    display: flex;
    flex-flow: column;
}

.games-list a div {
    animation-play-state: running;
    animation: globalFadeInUp 0.75s;
    --image-rounding-dynamic: 8px;
    --aspect-ratio: 64/79;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    border-radius: 8px;
    display: flex;
    position: relative;
    width: 100%;
}

.games-list a div::before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(64 / 79));
}

.game1 {
    background-image: url(../Images/game1.jpg);
}

.game2 {
    background-image: url(../Images/game2.jpg);
}

.game3 {
    background-image: url(../Images/game3.jpg);
}

.game4 {
    background-image: url(../Images/game4.jpg);
}

.game5 {
    background-image: url(../Images/game5.jpg);
}

.game6 {
    background-image: url(../Images/game6.jpg);
}

.game7 {
    background-image: url(../Images/game7.jpg);
}

.game8 {
    background-image: url(../Images/game8.jpg);
}

.game9 {
    background-image: url(../Images/game9.jpg);
}

.game10 {
    background-image: url(../Images/game10.jpg);
}

.game11 {
    background-image: url(../Images/game11.jpg);
}

.game12 {
    background-image: url(../Images/game12.jpg);
}

.game13 {
    background-image: url(../Images/game13.jpg);
}

.game14 {
    background-image: url(../Images/game14.jpg);
}

.game15 {
    background-image: url(../Images/game15.jpg);
}

.game16 {
    background-image: url(../Images/game16.jpg);
}

.game17 {
    background-image: url(../Images/game17.jpg);
}

.game18 {
    background-image: url(../Images/game18.jpg);
}

.game19 {
    background-image: url(../Images/game19.jpg);
}

.game20 {
    background-image: url(../Images/game20.jpg);
}

.game21 {
    background-image: url(../Images/game21.jpg);
}

.game22 {
    background-image: url(../Images/game22.jpg);
}

.game23 {
    background-image: url(../Images/game23.jpg);
}

.game24 {
    background-image: url(../Images/game24.jpg);
}

.game25 {
    background-image: url(../Images/game25.jpg);
}

.game26 {
    background-image: url(../Images/game26.jpg);
}

.game27 {
    background-image: url(../Images/game27.jpg);
}

.game28 {
    background-image: url(../Images/game28.jpg);
}

.game29 {
    background-image: url(../Images/game29.jpg);
}

.game30 {
    background-image: url(../Images/game30.jpg);
}

.game31 {
    background-image: url(../Images/game31.jpg);
}

.game32 {
    background-image: url(../Images/game32.jpg);
}

.game33 {
    background-image: url(../Images/game33.jpg);
}

.game34 {
    background-image: url(../Images/game34.jpg);
}

.game35 {
    background-image: url(../Images/game35.jpg);
}

.game36 {
    background-image: url(../Images/game36.jpg);
}

.game37 {
    background-image: url(../Images/game37.jpg);
}

.game38 {
    background-image: url(../Images/game38.jpg);
}

.game39 {
    background-image: url(../Images/game39.jpg);
}

.game40 {
    background-image: url(../Images/game40.jpg);
}

.game41 {
    background-image: url(../Images/game41.jpg);
}

.game42 {
    background-image: url(../Images/game42.jpg);
}

/* videos page */
.videos {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 0 4rem;
    width: 100%;
}

.videos section {
    color: white;
    display: flex;
    flex-flow: column;
    padding: 4rem 0;
}

.videos section h3 {
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 1.3;
    grid-gap: 1rem;
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.videos section h3 div:first-child {
    grid-gap: 1rem;
    display: flex;
    font-size: 1.25rem;
}

.left-arrow {
    line-height: 1.3;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex: 0 0 auto;
    transition: opacity 0.3s;
    width: calc(12px * 2.5);
    z-index: 5;
    background-image: url(../Images/leftarrow.svg);
    cursor: pointer;
}

.right-arrow {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex: 0 0 auto;
    transition: opacity 0.3s;
    width: calc(12px * 2.5);
    z-index: 5;
    background-image: url(../Images/rightarrow.svg);
    cursor: pointer;
}

.videos-reddead-content,
.videos-gtaonline-content,
.videos-session-content,
.videos-game-content {
    margin-left: 4rem;
    margin-right: 4rem;
}

.slick-track {
    margin-left: 4rem;
    margin-right: 4rem;
    display: grid !important;
    grid-auto-flow: column;
    transition: transform 0.3s;
    position: relative;
}

.slick-disabled {
    opacity: 0.25;
}

.videos-reddead-content a,
.videos-gtaonline-content a,
.videos-session-content a,
.videos-game-content a {
    color: inherit;
    text-decoration: none;
    margin-right: 1.5rem;
}

.videos-game-content a img {
    aspect-ratio: 64/79;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    border-radius: 8px;
    display: flex;
    position: relative;
    width: 100%;
}

.reddead-img-content,
.gtaonline-img-content,
.session-img-content {
    border-radius: 8px;
    background: #000;
    border: 1px solid #282828;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    transition: transform 0.2s ease;
    height: inherit;
}

.reddead-img-content img,
.gtaonline-img-content img,
.session-img-content img {
    opacity: 1;
    aspect-ratio: 16/9;
    color: #fff;
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: opacity 1s;
    width: 100%;
}

.reddead-content,
.gtaonline-content,
.session-content {
    display: block;
    padding: 1.5rem;
    grid-gap: 0.5rem;
    padding: 2rem 1.5rem;
    border: none;
}

.reddead-content div,
.gtaonline-content div,
.session-content div {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
    border: none;
}

.videos-reddead-content a div:first-child h5,
.videos-gtaonline-content a div:first-child h5,
.videos-session-content a div:first-child h5 {
    line-height: 1.3;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
}

.ui-tooltip {
    background-color: #262626 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 5px;
}